name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HUSKY: 0

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yaml
    secrets: inherit

  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    needs:
      - check
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com
          cache: pnpm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.FUNDAMENTRY_BOT_TOKEN }}

      - name: Install dependencies
        run: pnpm i

      - name: Count changed packages
        id: changes
        run: echo "count=$(pnpx lerna changed -p | wc -l | xargs)" >> "$GITHUB_OUTPUT"

      - name: Build all packages
        if: ${{ fromJson(steps.changes.outputs.count) > 0 }}
        run: pnpm build

      - name: Import GPG key for Fundamentry Bot
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v6
        if: ${{ fromJson(steps.changes.outputs.count) > 0 }}
        with:
          gpg_private_key: ${{ secrets.FUNDAMENTRY_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.FUNDAMENTRY_BOT_GPG_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: false # https://github.com/semantic-release/semantic-release/pull/1871

      - name: Release
        if: ${{ fromJson(steps.changes.outputs.count) > 0 }}
        run: pnpx lerna publish --yes
        env:
          GH_TOKEN: ${{ secrets.FUNDAMENTRY_BOT_TOKEN }}
